ul.react-paginate {
  display: flex;
  align-items: center;
  gap: 0.66667rem;
  margin-bottom: 0;
}

.pagination {
  li.page-item {
    a.page-link {
      display: flex;
      width: 2.6rem;
      height: 2.6rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.83333rem;
      aspect-ratio: 1/1;
      border-radius: 0.83333rem;
      border: 1px solid var(--black-100);
      color: var(--black);
      font-size: 0.9rem;

      // Efek saat hover/focus
      &:hover,
      &:focus,
      &:focus-visible {
        outline: none;
        border-color: var(--primary);
        background: var(--primary);
        color: #fff;
        box-shadow: none;
      }
    }

    &.active a.page-link {
      background: var(--primary);
      border: none;
      color: #fff;

      // Hindari box-shadow dobel saat aktif
      &:hover,
      &:focus,
      &:focus-visible {
        box-shadow: none;
        outline: none;
      }
    }

    &.disabled {
      .page-link {
        border: 1px solid var(--black-100);
        background: transparent;
        cursor: not-allowed;
      }
    }
  }

  span.page-link {
    line-height: 1.4;
  }
}

.simple-pagination {
  .page-item:not(.active):not(:first-child):not(:last-child) {
    display: none !important;
  }
}
